// Vertical Rhythm Configuration Variables
$vr-BASE: 2; // (unitless) Base measurement
$vr-MAGNITUDE: 0.75; // (unitless) The spacing multiplier
$vr-ITERATIONS: 6; // (unitless) Number of variations to generate

@import "_helpers";