html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    // @include typeset($sans, 14px, 18px, $leader: 0, $trailer: 2);
    // background: #f6f6f6 url(../media/images/bg.jpg) fixed repeat 0 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #2AA198;
}

a:hover {
    text-decoration: underline;
}

p {
    @include typeset($sans, 16px, 19px, $leader: 0, $trailer: 2);
}

pre {
    padding: 0.75em;
    border: 4px solid #dfdfdf;
    background-color: #efefef;
    border-radius: 2px;
    white-space: pre;
    word-break: break-all;
    word-wrap: normal;
    overflow-x: auto;
}

code {
    display: inline-block;
    padding: 0 6px;
    border: 1px solid #dfdfdf;
    background-color: #efefef;
    color: #657b83;
    @include typeset($monospace, 14px, 18px, $leader: 0.4, $trailer: 0, $snap: false);
    border-radius: 2px;
}

pre code {
    display: block;
    padding: 0;
    background-color: transparent;
    border: none;
    color: inherit;
    border-radius: 0;
    @include typeset($monospace, 14px, 20px, $leader: 0, $trailer: 0, $snap: true);
}