<!doctype html>
<html class="no-js" lang="en-us">
<head>
    {{> meta/head-meta}}
    {{> meta/head-seo}}
    {{> meta/head-icons}}
    {{> meta/head-stylesheets}}
</head>
<body>
    {{> header}}

    {{#block "body"}}
    {{/block}}

    {{> footer}}
    {{> scripts}}
</body>
</html>
