<!doctype html>
<html class="no-js" lang="en-us">
<head>
    {{> meta/head-meta}}
    {{> meta/head-seo}}
    {{> meta/head-icons}}
    {{> meta/head-polyfills}}
    {{> meta/head-stylesheets}}
</head>
<body>
    <header class="tier tier_primary vr vr_3n" role="banner">
        {{> header}}
    </header>

    <main role="main">
        {{#block "body"}}
        {{/block}}
    </main>

    <footer role="contentinfo">
        {{> footer}}
    </footer>

    {{> scripts}}
</body>
</html>
