html {
    font-size: 1em;
}

body {
    background: #f6f6f6 url(../media/images/bg.jpg) fixed repeat 0 0;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    line-height: 1.45;
}

img {
    max-width: 100%;
}