.post {
    margin-bottom: 4%;
}

.post-md {
    margin-bottom: 24px;
}

.post-md > img {
    display: block;
}

.post-content-hd {
    margin-bottom: 12px;
}

.post-content-meta {
    margin-bottom: 24px;
}

// Post snippet extension
.post_snippet {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    transform: skewY(-1.5deg);
}

.post_snippet > .post-content {
    padding: 3.33% 2.5% 2.5%;
    transform: skewY(1.5deg);
}

.post_snippet > .post-md {
    margin-bottom: 0;
}

.post_snippet .post-content-hd {
    margin-bottom: 10px;
}

.post_snippet .post-content-meta {
    margin-bottom: 10px;
}