.post {
    margin-bottom: 4%;
}

.post_snippet {
    background-color: #fff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.post-md > img {
    display: block;
}

.post-bd {
    padding: 3.33% 2.5% 2.5%;
}

.post-bd-title {
    margin-bottom: 10px;
}

.post-bd-meta {
    margin-bottom: 10px;
}

.post-bd-content {

}