.hdg {

}

// We can set our type using pixels, rems or baseline units
.hdg_h1,
.quarantine h1 {
    font-family: font-family-of($sans);
    @include typeset($font: $sans, $fontsize: 38px, $lineheight: 45px, $leader: 2, $trailer: 2rem);
}

.hdg_h2,
.quarantine h2 {
    font-family: font-family-of($serif);
    @include typeset($serif, 26px, 28px, 2, 1);
}

.hdg_h3,
.quarantine h3 {
    font-family: font-family-of($serif);
    @include typeset($serif, 20px, 24px, 2, 1);
}

.post-content-meta {
    font-family: font-family-of($serif);
    @include typeset($serif, 16px, 18px, 0, 2);
}