---
title: Matrix
---

{{#extend "layout"}}

    {{#content "body" mode="append"}}
        <div class="wrapper">
            {{file.frontMatter.title}}
        </div>
        {{#each matrix}}
            <ol>
                <li class="matrix-row mix-matrix-row_pos{{@index}}">
                    <a href="#" class="martix martix_{{@key}}{{@index}}"></a>
                </li>
            </ol>
        {{/each}}
    {{/content}}

{{/extend}}
