// Blocks Configuration Variables
// Defaults and documentation defined in _helpers.scss
$blocks-WIDTH: $BREAKPOINTS_LARGE_WIDTH;
$blocks-GUTTER_WIDTH: 20;
$blocks-ITERATIONS: 2, 3, 4;

// Import calculation and function helpers
@import "_helpers";

.blocks {
    margin-left: get-parent-offset($blocks-GUTTER);
    margin-top: get-parent-offset($blocks-GUTTER);
}

.blocks > * {
    margin-left: $blocks-GUTTER;
    margin-top: $blocks-GUTTER;
}

@if $blocks-ITERATIONS {
    @for $i from 1 through length($blocks-ITERATIONS) {

        // Select an item by index from the iterations list
        $n: nth($blocks-ITERATIONS, $i);

        .blocks_#{$n}up > * {
            @include blocks($n, $blocks-GUTTER);
        }

        .mix-blocks_#{$n}upLG > * {
            @include blocks($n, $blocks-GUTTER);
        }
    }
}