.profile {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-md {
    border-radius: 50%;
    overflow: hidden;
    border: 0.75rem solid rgba(255,255,255,0.5);
}

.profile-md-pic {
    display: block;
}

.profile-bd {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.profile-bd-name {
    font-size: 2rem;
}

.profile-bd-contact {
    margin-top: 0.5rem;
}