.tier:before,
.tier:after {
   content: " ";
   display: table;
}

.tier:after {
    clear: both;
}

.tier_primary {
    background-color: #ee9952;
    border-bottom: 4px solid darken(#ee9952, 10%);
}

.tier_secondary {
    background-color: #cccccc;
    border-top: 4px solid darken(#cccccc, 10%);
}