{{> header}}

<div class="wrapper">
    <section class="content">
        <ol class="cols">
            {{#each collections.posts}}
                <li class="cols-item">
                    <div class="post post_snippet">
                        <div class="post-md">
                            <img src="{{this.featured-image}}" alt="">
                        </div>
                        <div class="post-bd">
                            <div class="post-bd-title">
                                <h2 class="hdg hdg_h2"><a href="/{{this.path}}/">{{this.title}}</a></h2>
                            </div>
                            <div class="post-bd-meta">
                                <time datetime="2011-01-12">{{this.date}}</time>
                            </div>
                            <div class="post-bd-content">
                                {{{this.snippet}}}
                            </div>
                        </div>
                    </div>
                </li>
            {{/each}}
        </ol>
    </section>
</div>

{{> footer}}