{{> header}}

<div class="wrapper">
    <section class="content content_flex">
        <div class="profile">
            <div class="profile-md">
                <img class="profile-md-pic" src="assets/media/images/brian-bell-portrait.jpg" alt="Portrait of Brian Bell" />
            </div>
            <div class="profile-bd">
                <h1 class="profile-bd-name">Brian Bell</h1>
                <div class="profile-bd-contact">
                    <h2 class="isVisuallyHidden">Contact Information</h2>
                    <ul class="vList">
                        <li>Front-End Technology Manager, <a href="//nerdery.com" class="u-nowrap" target="_blank">The Nerdery</a></li>
                        <li>Twitter: <a href="//twitter.com/pddl_jmpr" title="Brian Bell on Twitter" target="_blank">@pddl_jmpr</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

{{> footer}}