.site-bd {
    position: relative;
    padding-top: 4rem;
    border-top: 4px solid #e97e24;
}

.site-bd:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    background-color: #ee9952;
}