---
title: Blog
content: ./pages/test.md
---

{{#extend "layout"}}

    {{#content "body" mode="append"}}
        <div class="wrapper">
            <section class="content">
                {{md content}}
                <ol class="cols">
                    <li class="cols-item">
                        <div class="post post_snippet">
                            <div class="post-md">
                                <img src="//placehold.it/550x300" alt="">
                            </div>
                            <div class="post-bd">
                                <div class="post-bd-title">
                                    <h2 class="hdg hdg_h2">Title</h2>
                                </div>
                                <div class="post-bd-meta">
                                    <time datetime="2011-01-12">January 12th, 2011</time>
                                </div>
                                <div class="post-bd-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed a iste porro, provident eligendi nobis natus, amet recusandae voluptas harum, magnam? Numquam doloremque corporis voluptates, beatae odio minima a dolores.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cols-item">
                        <div class="post post_snippet">
                            <div class="post-md">
                                <img src="//placehold.it/550x550" alt="">
                            </div>
                            <div class="post-bd">
                                <div class="post-bd-title">
                                    <h2 class="hdg hdg_h2">Title</h2>
                                </div>
                                <div class="post-bd-meta">
                                    <time datetime="2011-01-12">January 12th, 2011</time>
                                </div>
                                <div class="post-bd-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed a iste porro, provident eligendi nobis natus.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cols-item">
                        <div class="post post_snippet">
                            <div class="post-md">
                                <img src="//placehold.it/550x300" alt="">
                            </div>
                            <div class="post-bd">
                                <div class="post-bd-title">
                                    <h2 class="hdg hdg_h2">Title</h2>
                                </div>
                                <div class="post-bd-meta">
                                    <time datetime="2011-01-12">January 12th, 2011</time>
                                </div>
                                <div class="post-bd-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed a iste porro, provident eligendi nobis natus, amet recusandae voluptas harum, magnam?</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cols-item">
                        <div class="post post_snippet">
                            <div class="post-md">
                                <img src="//placehold.it/550x550" alt="">
                            </div>
                            <div class="post-bd">
                                <div class="post-bd-title">
                                    <h2 class="hdg hdg_h2">Title</h2>
                                </div>
                                <div class="post-bd-meta">
                                    <time datetime="2011-01-12">January 12th, 2011</time>
                                </div>
                                <div class="post-bd-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed a iste porro, provident eligendi nobis natus.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cols-item">
                        <div class="post post_snippet">
                            <div class="post-md">
                                <img src="//placehold.it/550x400" alt="">
                            </div>
                            <div class="post-bd">
                                <div class="post-bd-title">
                                    <h2 class="hdg hdg_h2">Title</h2>
                                </div>
                                <div class="post-bd-meta">
                                    <time datetime="2011-01-12">January 12th, 2011</time>
                                </div>
                                <div class="post-bd-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed a iste porro, provident eligendi nobis natus, amet recusandae voluptas harum, magnam?</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cols-item">
                        <div class="post post_snippet">
                            <div class="post-md">
                                <img src="//placehold.it/550x300" alt="">
                            </div>
                            <div class="post-bd">
                                <div class="post-bd-title">
                                    <h2 class="hdg hdg_h2">Title</h2>
                                </div>
                                <div class="post-bd-meta">
                                    <time datetime="2011-01-12">January 12th, 2011</time>
                                </div>
                                <div class="post-bd-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed a iste porro, provident eligendi nobis natus, amet recusandae voluptas harum, magnam? Numquam doloremque corporis voluptates, beatae odio minima a dolores.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ol>
            </section>
        </div>
    {{/content}}

{{/extend}}
