// Breakpoint variables
$BREAKPOINTS_MEDIUM_MEDIA: "screen and (min-width: 600px)";
$BREAKPOINTS_MEDIUM_WIDTH: 600;
$BREAKPOINTS_BASE_MEDIA: "screen and (min-width: 1em)";

// Font variables
$FONT_SIZE_DEFAULT: 14px;